@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
li, ol, ul {
    list-style: none;
}
#wrap {
    max-width: 100%;

   
}
/********* GNB *********/
.menu-wrap {
    background: #2C2C2C;
    width: 20%;
    height: 100%;
    position: fixed;

   
}
.mainTitle {
    margin: 20%;
    text-align: center;
    color: white;
    font-size: 25px;
}
.menu ul {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.menu-wrap .menu ul li {
    text-align: center;
    padding-bottom: 7%;
    
}

.menu-wrap .menu ul a:hover{
    border-bottom: 1px solid #FFC300;
    color: white;
    transition: 1s
}
.menu-wrap .footer {
    width: 100%;
    position: absolute;
    bottom: 40px;
    right: 0;
    left: 0;
    text-align: center;
    color: rgb(133, 133, 133);
}

/* 햄버거 버튼 before, after 쓰기 */
.ham {
    width: 24px;
    height: 4px;
    position: fixed;
    cursor: pointer;

    z-index: 9999;
    opacity: 1;
    padding: 20px;
}
.ham i {
    display: inline-block;
    position: relative;

    width: 20px;
    height: 2px;
    color: rgb(255, 255, 255);
}
.ham::before, .ham::after {
    content: "";
    position: absolute;
}
.ham::before {
    width: 20px;
    height: 2px;
    color: rgb(255, 255, 255);
}

/************** 컨텐츠 시작 **************/
#contents-wrap {
    width: 80%;
    float: right;
    transition: 0.5s;
}

/******* 슬라이드 이미지 시작 *******/
/* .content-01 .content-01-img .slides li {
    float: left;
    position: relative;
    width: 100%;
    height: 100vh;
}
.content-01 .content-01-img .slides .bg01{
    background: url(../image/mainbg001.jpg) no-repeat center/cover;
}
.content-01 .content-01-img .slides .bg02{
    background: url(../image/mainbg003.jpg) no-repeat center/cover;
}
.content-01 .content-01-img .slides .bg03{
    background: url(../image/mainbg002.jpg) no-repeat center/cover;
} */

/* 슬라이드쇼 설정*/
/* #slideshow {
    width: 100%;
    height: 100vh;

    position: relative;
    overflow: hidden;
}
.slides {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: 0.5s;
} */


.main {
    width: 100%;
}
.slide {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow:hidden;
}
.slide > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.slideIMG {
    width: 100%;
    height: 100vh;
}



.content-02-first {  /*사진 사이즈좀 줄여두자*/
    width: 100%;
    background-image: url(../image/blog02.jpg);
    height: 600px;
}


.icon-circle {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    background-color: white;
    z-index: 1;
}
.icon-circle::before, .icon-circle::after {
    content: "";
    position: absolute;
}
.icon-circle::before {
    width: 450px;
    border: 1px solid black;
    top: 25px;
}
.content-04-pic img {
    width: 150px;
}

/* 미디어 쿼리 */


@media screen and (max-width: 768px) {
    .menu-wrap {
        transform: translateX(-20%);
        transition: 0.5s;
    }
    #contents-wrap {
        width: 100%;
    }
}
