@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
a {
    text-decoration: none;
    color: inherit;
}
li, ol, ul {
    list-style: none;
}
#wrap {
    width: 100%;
}
/********* GNB *********/
.menu-wrap {
    background: #2C2C2C;
    width: 20%;
    height: 100vh;
    position: fixed;
}
.mainTitle {
    margin: 20%;
    text-align: center;
    color: white;
    font-size: 25px;
}
.menu-wrap .menu ul li {
    text-align: center;
    padding-bottom: 7%;
    color: rgb(133, 133, 133);
    transition: 0.01s;
}
.menu-wrap .menu ul li:hover {
    color: white;
}
.menu-wrap .menu ul a:hover{
    border-bottom: 1px solid #FFC300;
}
.menu-wrap .footer {
    width: 100%;
    position: absolute;
    bottom: 40px;
    right: 0;
    left: 0;
    text-align: center;
    background-color: aquamarine;
}

/************** 컨텐츠 시작 **************/
#contents-wrap {
    width: 80%;
    float: right;
    transition: 0.5s;
}

/******* 슬라이드 이미지 *******/
.content-01 {
    height: 541px;
}
.content-01-img li .bg01{
    background-image: url(../image/blog03.jpg);
    width: 100%;
    float: left;
    position: relative;
    display: inlin-block;
}
.content-02-first {  /*사진 사이즈좀 줄여두자*/
    width: 100%;
    background-image: url(../image/blog02.jpg);
    height: 600px;
}


.icon-circle {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    background-color: white;
    z-index: 1;
}
.icon-circle::before, .icon-circle::after {
    content: "";
    position: absolute;
}
.icon-circle::before {
    width: 450px;
    border: 1px solid black;
    top: 25px;
}
.content-04-pic img {
    width: 150px;
}
